.dropdown:hover .dropdown-head {
    display: block;
}

.btn-yellow:hover{
    background-color: rgb(239, 184, 24);
}
@font-face {
    font-family: 'bebas';
    src: url(../fonts/BebasNeue-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'poppins';
    src: url(../fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'poppins2';
    src: url(../fonts/Poppins-Medium.ttf) format('truetype');
}

.ff-poppins{
    font-family: poppins;
}

.ff-poppins2{
    font-family: poppins2;
}

.ff-bebas{
    font-family: bebas;
}

