.img-category_index{
    height: 3rem;
    object-fit: cover;
    object-position: center, center;
}
.img-resize_home{
    height: 12rem;
    object-fit: cover;
    object-position: center, center;
}


@media (max-width: 500px){
    .img-resize_home{
        height: 8rem;
        object-fit: cover;
        object-position: center, center;
    }
}

.img-resize-category{
    height: 15rem;
    object-fit: cover;
    object-position: center, center;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}

@media (min-width:768px) {
    .px-md-10{
        padding-left: 100px;
        padding-right: 100px;
    }
}

.bg-imgOurproduct{
    background: rgb(0,0,0,0.4) url("../img/our_products/bg-ourproducts.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}

.h-style-100{
    height: 100%;
}

@media (max-width:992px){
    .h-style-100{
        height: 23rem;
    }
}

.py-2-5{padding-top:.7rem!important;padding-bottom:.7rem!important}