.line{
    text-align: center;
    border-bottom: 1px solid lightgray;
    line-height: 0.1rem;
    margin: 10px 0 20px;
}

.line-p{
    background: rgb(248,249,250);
    padding: 0 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.icon {
    padding-left: 25px;
    /*background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;*/
    background-size: 20px;
}

.h7{
    font-size: 14px;
}

.bg-icon{
url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236ea8fe'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.bg-img{
    background: rgb(0,0,0,0.4) url("../img/about_bg_1.jpg");
    background-blend-mode: darken;
}

.py-10 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.space {
    letter-spacing: length;
}

.color-dark {
    color: #3d4150;
}

.px-10{
    padding-left: 100px;
    padding-right: 100px;
}

